<div class="hero-unit">
  <h1>Welcome to Ninox!</h1>
  <p>Find courses, homeworks and projects done by other students.</p>
  <p>Share your own from your account or create one if you haven't yet.</p>
  <p>
    <a class="btn btn-primary btn-large" href="#">Browse courses</a>
  </p>
</div>