<tr>
  <td>
    <%= link_to document.title, document %>
  </td>
  <td>
    <%= document.desc %>
  </td>
  <td>
    <% if document.course %>
    <%= link_to document.course.code, course_path(document.course) %>
    <% end %>
  </td>
</tr>