<h1>All documents</h1>

<%= paginate @documents %>

<table class="documents table table-striped">
  <tr>
    <th>Title</th><th>Description</th><th>Course</th><th>Owner</th>
  </tr>
  <%= render @documents %>
</table>

<%= paginate @documents %>