<h1>New document</h1>

<%= form_for @document, :url => documents_path, :html => { :multipart => true } do |f| %>
<%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>