<div class="footer">
  <p>RoR site by <a href="mailto:antoine-g@live.fr">Antoine Giraudmaillet</a> - See <%= link_to "about", {controller: "pages", action: "about"} %> for license information</p>
</div>